@import "syntax-variables";

// Using the git-diff colors so they are visible on your syntax theme.
@red-color: @syntax-color-removed;
@green-color: @syntax-color-added;
@blue-color: @syntax-color-renamed;
